/* #2d3e50 */
/* #0d1942 */
:root {
  --primary: #2d3e50;
  --secondary: #1f2b38;
  --font-color: #3d3d3d;
  --bg: #fff;
  --bgsecondary: #f4f4f5;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
}

/* header/navbar */
.header {
  width: 100%;
  height: 14vh;
  background: var(--bg);
  justify-content: center;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.header,
.header .navbar,
.header .navbar .navbar-logo,
.header .navbar .container-menu .menu {
  display: flex;
  align-items: center;
}

.header .navbar {
  width: 90%;
  height: 65%;
  margin: 0 0.5rem;
  justify-content: space-between;
}
.header .navbar .navbar-logo {
  height: 100%;
  margin-left: 0.75rem;
}
.header .navbar .navbar-logo a img {
  width: auto;
  height: 32px;
}
.navbar-logo .search-form {
  width: 300px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.search-form img {
  width: 17px;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}
.search-form input {
  width: 100%;
  height: 85%;
  border: 1px solid #eeeef0;
  border-radius: 5px;
}
.search-form input[type="text"] {
  font-size: 0.9rem;
  padding-left: 2.2rem;
  color: #6e777f;
}
.header .navbar .container-menu {
  height: 85%;
  width: 45%;
  display: flex;
  align-items: center;
}
.header .navbar .container-menu .menu {
  height: 100%;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0;
}
.header .navbar .container-menu .menu li {
  height: 100%;
  list-style-type: none;
  position: relative;
}
.header .navbar .container-menu .menu li .menu-links {
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  padding: 0 1rem;
  border-radius: 5px;
  transition: 0.1s ease;
}
.header .navbar .container-menu .menu li .menu-links:hover,
.dropdown-subscription li a:hover,
.dropdown-programs li a:hover,
.dropdown-lainnya li a:hover {
  background: #f4f4f4;
}

.container-menu .menu li .container-dropdown {
  background: var(--bg);
  border-radius: 10px;
  position: absolute;
  border: 1px solid #e5e5e8;
}
.container-menu .menu li .container-subscripion-dropdown {
  width: 18.5rem;
  height: 9.5rem;
}
.dropdown-subscription,
.dropdown-programs,
.dropdown-lainnya {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.container-dropdown .dropdown-subscription li,
.dropdown-programs li,
.dropdown-lainnya li {
  width: 100%;
  display: flex;
  align-items: center;
}
.dropdown-subscription li a,
.dropdown-programs li a,
.dropdown-lainnya li a {
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
  color: var(--font-color);
}
.dropdown-subscription li a .icon,
.dropdown-lainnya li a .icon {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-subscription li:first-child a,
.dropdown-programs li:first-child a,
.dropdown-lainnya li:first-child a {
  border-radius: 10px 10px 0 0;
}
.dropdown-subscription li:last-child a,
.dropdown-programs li:last-child a,
.dropdown-lainnya li:last-child a {
  border-radius: 0 0 10px 10px;
}
.icon img {
  width: 0.9rem;
}
.sub-menu {
  flex: 1;
  padding: 1rem 0 1rem;
}
.sub-menu p {
  margin: 0 0 0.5rem;
}
.sub-menu span {
  font-size: 0.75rem;
  font-weight: 500;
  color: #a3a3ac;
}
.container-program-dropdown {
  width: 15.2rem;
}
.dropdown-programs li a {
  padding: 1rem 1rem;
}
.dropdown-programs li a p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--font-color);
}
.container-lainnya-dropdown {
  width: 19rem;
}

.register-menu {
  width: 13rem;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1.2rem;
}
.register-menu a {
  width: 6rem;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  background: var(--bg);
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}
.register-menu .log-button {
  color: var(--font-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.register-menu .log-button:hover {
  background: var(--primary);
  color: var(--bg);
}

.register-menu .reg-button {
  background: var(--primary);
  color: var(--bg);
  transition: background-color 0.3s ease;
}
.register-menu .reg-button:hover {
  background: var(--secondary);
}

/* main */
main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
/* hero section */
.main .hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .hero .container-hero {
  width: 90%;
  height: 75%;
  display: flex;
  align-items: center;
}
.main .hero .container-hero .content-homepage {
  height: 100%;
  margin: 0 0.5rem;
  color: var(--font-color);
}
.main .hero .container-hero .content-homepage h2 {
  font-size: 2rem;
  margin-top: 6rem;
  font-weight: 500;
}
.main .hero .container-hero .content-homepage p {
  margin: 0 0 2.5rem 0;
  padding: 0;
}
.main .hero .container-hero .content-homepage .learn-button {
  width: 11.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 2px;
  transition: background-color 0.2s ease;
}
.main .hero .container-hero .content-homepage .learn-button:hover {
  background: var(--secondary);
}
.main .hero .container-hero .content-homepage a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--bg);
  text-decoration: none;
}
.main .hero .container-hero .banner-homepage {
  height: 100%;
  margin: 0 0.5rem;
}
.main .hero .container-hero .banner-homepage img {
  width: 85%;
  height: auto;
  padding: 0 3rem;
}

/* partnership section */
.partnership {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partnership .title-partnership h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font-color);
}
.partnership .partner-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partnership .partner-logo .logo-partner {
  width: 10rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 1px solid #d4d4d8;
}
.partnership .partner-logo .logo-partner img {
  width: auto;
  height: 80%;
}

/* programs section */
.programs {
  display: flex;
  align-items: center;
  height: 65vh;
  background: var(--bgsecondary);
}
.programs .container {
  display: flex;
  height: 70%;
  justify-content: space-between;
}
.programs .container .container-headline {
  display: flex;
  justify-content: center;
  width: 40%;
}
.programs .container .container-headline .program-headline {
  width: 70%;
  height: auto;
  color: var(--font-color);
}
.program-headline h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.programs .container .programs-swiper {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
  border: 1px solid red;
}

.programs-swiper .arrow {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.programs-swiper .arrow img {
  width: 30px;
  margin: 0 0.5rem;
}
.programs-swiper .swip-container {
  display: flex;
  width: 95%;
  border: 1px solid blue;
}
.programs-swiper .swip-container .slide-aws,
.programs-swiper .swip-container .slide-dbs {
  width: 576px;
  height: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: var(--bg);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.programs .container .programs-swiper .swip-container .slide-aws a {
  text-decoration: none;
  display: flex;
  width: auto;
  height: 10rem;
  margin: 1.25rem;
}

.programs .container .programs-swiper .swip-container img {
  width: 10rem;
  margin-right: 1.25rem;
}

.program-card p,
.program-card span {
  font-size: 0.8rem;
  color: var(--font-color);
  margin: 0;
}
.program-card h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--font-color);
  margin: 1rem 0;
}

.programs .container .programs-swiper .swip-container img {
  width: 10rem;
  margin-right: 1.25rem;
}

/* features section */
.dicoding-features-section {
  height: 110vh;
}
.container-features,
.container-learning-path {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
}
.features-headline,
.learning-path-headline {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0 1rem;
}
.features-headline h2,
.learning-path-headline h2 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 500;
  color: var(--font-color);
}
.features-headline p,
.learning-path-headline p {
  text-align: center;
  color: var(--font-color);
  font-weight: 500;
}
.dicoding-features {
  display: flex;
  padding: 2rem 4rem;
}
.dicoding-features .accordion-features {
  width: 75%;
  display: flex;
  align-items: center;
}
#accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 1.5rem 0;
  background: #fafafa;
  border-radius: 5px;
}
#accordion li {
  list-style-type: none;
  width: 100%;
}
#accordion li label {
  width: 95%;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
  color: var(--font-color);
}
#accordion li label img {
  width: 15px;
  transform: rotate(180deg);
  transition: 0.5s;
  color: var(--font-color);
}
#accordion li label + input[type="checkbox"] {
  display: none;
}
#accordion li .content {
  width: 95%;
  max-height: 0;
  font-weight: 500;
  margin-bottom: 1rem;
  overflow: hidden;
  color: var(--font-color);
  transition: max-height 0.5s ease;
}
#accordion li label + input[type="checkbox"]:checked + .content {
  max-height: 400px;
}
#accordion li label + input[type="checkbox"]:checked + .content + label img {
  transform: rotate(0deg);
}
.dicoding-features .image-feature {
}
.image-feature img {
  width: 100%;
  height: auto;
}

/* learning-path section */
.learning-path-headline h2 {
  font-weight: 700;
}
.learning-path-partner {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
  border: 1px solid red;
}
.learning-path-partner .learn-partner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
}
.learn-partner img:nth-of-type(1) {
  width: 15rem;
}
.learn-partner img {
  width: 12rem;
  margin: 1rem;
}
.logo-learn-partner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  border: 1px solid black;
}
.logo-learn-partner .img-logo-learn-path {
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d4d4d8;
}
.logo-learn-partner img {
  width: auto;
  height: 90%;
}

/* footer section */

.footer .container {
  display: flex;
  margin: 0 4rem;
  border-top: 1px solid var(--font-color);
  border-bottom: 1px solid var(--font-color);
}
.footer-section {
  margin: 4rem 0;
}
.address {
  width: 40%;
}
.address img {
  width: 8rem;
  margin: 0 0 1rem;
}
.address p {
  font-size: 0.9rem;
  margin: 0.2rem 0;
  color: var(--font-color);
}
.address .social-icons {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.address .social-icons img {
  width: 20px;
  color: var(--font-color);
}
.address .awards p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--font-color);
  margin-bottom: 1rem;
}
.awards img {
  width: 70px;
}
.about,
.links {
  width: 30%;
}
.about p {
  font-size: 1.4rem;
  color: 181818;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}
.about a,
.links a {
  text-decoration: none;
  font-weight: 500;
  color: var(--font-color);
}
.links {
  height: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.links a {
  margin: 0.5rem 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--font-color);
  margin: 1.5rem 4rem;
}
footer .container a {
  text-decoration: none;
  margin: 0 1rem;
  color: var(--font-color);
}
